In [6]:
import numpy as np 
import pandas as pd 
from sqlalchemy import create_engine 
from matplotlib import pyplot as plt, style 
style.use('ggplot') 
style.use('fivethirtyeight') 
style.use('seaborn-v0_8-notebook')

In [11]:
engine = create_engine('postgresql+psycopg2://postgres:packer123@192.168.1.22/ncaam')
conn = engine.connect() 
try : 
    df_data = pd.read_sql('''
                        select 
                            * 
                        from 
                            ncaam_possession_vw
                        '''
                        ,con=conn)
    conn.close()
except Exception as e : 
    print(e)
    conn.close()

In [16]:
summary_df = (df_data.groupby(['game_id', 'date', 'home', 'away'], as_index=False)
                     .agg({'home_poss_score' : 'sum', 'away_poss_points' : 'sum'})
                     .copy()
            )

In [25]:
team_list = pd.concat([summary_df.loc[:, ['home']].rename(columns={'home' : 'team'}).copy(), 
                summary_df.loc[:, ['home']].rename(columns={'home' : 'team'}).copy()])['team'].unique()

team_df = pd.DataFrame({'team' : team_list}, index = range(0, len(team_list)))

In [26]:
team_df

               team
0      E Washington
1             Idaho
2          Idaho St
3          Weber St
4        J'Ville St
..              ...
359   UNC Asheville
360      Indiana St
361        Canisius
362  UNC Wilmington
363        Bethesda

[364 rows x 1 columns]